html, body {
    font-family: "メイリオ", "Meiryo", sans-serif;
    font-size: 16px;
    margin-left: 1%;
    margin-right: 1%;
}
textarea {
    resize: none;
}
input {
    vertical-align: top;
}
button {
    vertical-align: top;
}
.center {
    text-align: center;
}
.rolls {
    width: 120px;
    height: 30px;
    text-align: center;
}
.def_rolls {
    width: 100px;
    height: 30px;
    text-align: center;
}
.exect {
    width: 60px;
    height: 30px;
    text-align: center;
}
.roll_results {
    width: 180px;
    height: 30px;
    text-align: center;
    color: #1a1a1a;
}
.result {
    width: 80px;
    height: 30px;
    text-align: center;
    color: #1a1a1a;
}
.log {
    max-width: 100%;
    width: 1000px;
    height: 200px;
}