html, body {
    font-family: "メイリオ", "Meiryo", sans-serif;
    font-size: 16px;
    margin-left: 1%;
    margin-right: 1%;
}
.center {
    text-align: center;
}
.setting {
    width: 50px;
    height: 25px;
    text-align: center;
}
.in_output {
    max-width: 100%;
    width: 400px;
    height: 100px;
}